[push]
    default = matching
[alias]
    ad = add
    ad-all = add -A
    st = status
    # ********************
    # branch
    # ********************
    df = diff
    df2 = diff HEAD~
    df3 = diff HEAD~~
    # 単語単位のdiff
    dw = diff --color-words
    ds = diff --staged
    co = checkout
    ci = commit
    make-pull-req = commit --allow-empty -m \"make pull request\"
    br = branch
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    df-word = diff --word-diff
    browse = !hub browse
[core]
    excludesfile = ~/.gitignore
    editor = vim -c \"set fenc=utf-8\"
[color]
    ui = true
[ghq]
    root = ~/src
[include]
    path = ~/.gitconfig.local
