[push]
    default = matching
[alias]
    ad = add
    adA = add -A
    st = status
    df = diff
    df1 = diff HEAD
    df2 = diff HEAD~
    df3 = diff HEAD~~
    # 単語単位のdiff
    dw = diff --color-words
    ds = diff --staged
    co = checkout
    ci = commit
    make-pull-req = commit --allow-empty -m \"make pull request\"
    make-gitignore = !sh -c 'gibo ${0} > .gitignore'
    br = branch
    delete-branch = !sh -c 'git branch -D ${0}'
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    df-word = diff --word-diff
    browse = !hub browse
    recommit = commit --amend
    one-previous-commit-hard-reset = reset --hard HEAD^
[core]
    excludesfile = ~/.gitignore
    editor = vim -c \"set fenc=utf-8\"
[color]
    ui = true
[ghq]
    root = ~/src
[include]
    path = ~/.gitconfig.local
[commit]
    template = ~/.gitcommit.template
